.App {
  text-align: center;
  background-color: rgb(69, 71, 109);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(69, 71, 109);
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 2rem;
  color: white;
}