.App {
  text-align: center;
  background-color: rgb(69, 71, 109);
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(69, 71, 109);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(69, 71, 109);
}

.search-box {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 64, 64);
  color: white;
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 64, 64);
  color: white;
  cursor: pointer;
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
}